dummy*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/venv
*.egg-info/
.installed.cfg
*.whl
MANIFEST

# PyInstaller
#  Usually these files are written into a dist/ subdirectory.
#  However, PyInstaller also creates several temporary工作文件 in the root directory.
/*/dist/
/*/build/
/dist/
/build/
.pytest_cache
.venv
venv
*.env

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/